.content.grey
  .wrapper
    .entry-text
      %h2 Thanks for your entry Mr Person!
      %p You are now competing for the Dane Natoli Cup.  Hopefully your photo isn't totally rubbish and you might win!
      %p All photos will be reviewed after the cutoff date, April 27th 2013 PST. We will notify all entrants of the winner by email shortly afterwards!
    = image_tag 'jump3.jpg'
