- @entries.in_groups_of(3, false) do |group|
  %div{ :class => "content #{cycle(nil, "grey")}" }
    .wrapper
      %h2= "Entries" if @entries.first == group.first
      - group.each do |entry|
        %a{ :href => entry.picture.url(:large), :rel => "lightbox[entries]" }
          = image_tag entry.picture.url(:medium), :class => "entry"
