// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.entry-text {
  width:475px;
  margin-right:20px;
  float:left;
}

div.entry-text + img {
  width:500px !important;
}

div.error-messages {
  color: red;
  border: red 1px solid;
  padding: 0 15px;
  background-color: #ffd5cd;
  width: 400px;
  margin: 0 auto;
}

div.rules img.closed {
  margin-left:40px;
  width:250px;
}

body.entries div.entry {
  display: inline-block;
  max-height:370px;
  vertical-align:top;
}
